@using PermacallWebApp.Models
@model PermacallWebApp.Models.ViewModels.ShowTeamSpeakModel
@{
    ViewBag.Title = "Teamspeak";
}
@helper ChannelView(TSChannel toShowChannel)
{
    <div class="col-md-12 ChannelGroup">
        @if (!toShowChannel.isSpacer)
        {
            <a href="#@toShowChannel.ChannelID" data-toggle="collapse">
                <p class="Channel noLink">@toShowChannel.ChannelName</p>
            </a>
        }
        else
        {
            <p class="Channel noLink"> <br /> </p>
        }
        <div id="@toShowChannel.ChannelID" class="collapse in">
            @if (toShowChannel.TSUsers.Count > 0)
            {
                foreach (TSUser channelUser in toShowChannel.TSUsers.FindAll(x => !x.isBot))
                {
                    if (channelUser.account == null)
                    {
                        <p class="NickName">
                            <span class="fa-stack" style="font-size: 50%" aria-hidden="true">
                                <i class="fa fa-circle fa-stack-2x" style="color: #1e90ff" aria-hidden="true"></i>
                                <i class="fa fa-circle-o fa-stack-2x" style="color: #00008b" aria-hidden="true"></i>
                            </span>
                            @channelUser.NickName
                        </p>
                    }
                    else
                    {
                        <p class="NickName">
                            <span class="fa-stack" style="font-size: 50%" aria-hidden="true">
                                <i class="fa fa-circle fa-stack-2x" style="color: #1e90ff" aria-hidden="true"></i>
                                <i class="fa fa-circle-o fa-stack-2x" style="color: #00008b" aria-hidden="true"></i>
                            </span>
                            <a href="#TS_@channelUser.TeamspeakDBID" data-toggle="collapse" class="noLink">
                                @channelUser.NickName
                            </a>
                        </p>
                        <div id="TS_@channelUser.TeamspeakDBID" class="collapse col-md-offset-1">
                            <p>
                                Account Username: @channelUser.account.Username
                            </p>
                        </div>

                    }
                }
            }

            @foreach (TSChannel childChannel in toShowChannel.Children)
            {
                @ChannelView(childChannel)
            }
        </div>
    </div>
}

<div class="row">
    <div class="contentBox form-horizontal col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2" style="margin-top: 50px;">
        <h2>Teamspeak overview</h2>
        @ChannelView(Model.TSRootChannel)
    </div>
</div>
