@using System.Runtime.Remoting.Messaging
@using PermacallWebApp.Logic
@model PermacallWebApp.Models.LanParty.LanParty
@{
    ViewBag.Title = Model.LanPartyName;
    var currentUser = Login.GetCurrentUser(HttpContext.Current);
}


<br />
<div class="row toHide">
    <div class="contentBox form-horizontal col-md-6 col-md-offset-3" style="font-size: 140%; margin-top: 50px;">
        <div class="col-xs-12 text-center">
            <h1>@Model.LanPartyName</h1>
        </div>
        @Html.ActionLink("View previous lanparties", "List")
        @if (currentUser.ID == Model.Owner || currentUser.Permission >= PCAuthLib.User.PermissionGroup.ADMIN)
        {
            <div class="col-xs-12 text-right">
                @Html.ActionLink("Edit", "Edit", new { ID = Model.ID }, new { @class = "btn btn-primary" })
            </div>
            <br />
        }
    </div>
</div>
@if (Model.LanPartyInsomnia.Active || DateTime.Now < Model.LanPartyInsomnia.Start)
{
    <div class="row">
        <div class="contentBox form-horizontal col-md-8 col-md-offset-2" id="insomniaContainerDiv" style="font-size: 140%">
            <div class="col-xs-12">

                @if (DateTime.Now < Model.LanPartyInsomnia.Start)
                {
                    <h2 class="text-center">Lanparty will start in:</h2>
                }
                else
                {
                    <h2 class="text-center">Insomnia Timer:</h2>
                }
                <div id="InsomniaTableDiv"></div>
                @if ((currentUser.ID == Model.Owner || currentUser.Permission >= PCAuthLib.User.PermissionGroup.ADMIN) && DateTime.Now > Model.LanPartyInsomnia.Start)
                {
                    <div class="toHide">
                        <br />
                        @using (Html.BeginForm("Index", "LanParty", new { ID = Model.ID }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.EditorFor(model => model.NewDropOut)

                            <div class="col-xxs-12 text-right">
                                <button class="btn btn-danger">DROP!</button>
                            </div>
                        }


                    </div>

                }
                <div class="col-xxs-12">
                    <button onclick="ToggleInsomniaHeight(event)" class="btn btn-default text-right hiddenButton">toggle fullscreen</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        var isFullscreen = false;
        function RefreshInsomnia() {
            var pageUrl = "/LanParty/InsomniaContent/@Model.ID";
            if (isFullscreen) pageUrl += "?full=1";
            $.ajax({
                url: pageUrl,
                success: function(result) {
                    $("#InsomniaTableDiv").html(result);
                }
            });
        }
        function RefreshCheck() {
            if(!document.hidden) RefreshInsomnia();
        }

        RefreshInsomnia();
        @if ((DateTime.Now - Model.LanPartyInsomnia.Start).TotalDays < 5 && DateTime.Now > Model.LanPartyInsomnia.Start)
        {
            @:setInterval(RefreshCheck, 10000);
        }



        function ToggleInsomniaHeight(event) {
            event.preventDefault();
            if (hasClass(document.getElementById('insomniaContainerDiv'), 'InsomniaMaxHeight')) {
                $("#insomniaContainerDiv").removeClass('InsomniaMaxHeight');
                $("#insomniaContainerDiv").addClass('col-md-8');
                $("#insomniaContainerDiv").addClass('col-md-offset-2');
                $("#insomniaContainerDiv").removeClass('col-md-12');
                isFullscreen = false;
                $(".navbar").show();
                $(".toHide").show();
                $("body").removeClass("NoPad");
                $("#insomniaContainerDiv").removeClass("NoMar");
            } else {
                $("#insomniaContainerDiv").removeClass('col-md-8');
                $("#insomniaContainerDiv").removeClass('col-md-offset-2');
                $("#insomniaContainerDiv").addClass('col-md-12');
                $("#insomniaContainerDiv").addClass('InsomniaMaxHeight');
                isFullscreen = true;
                $(".navbar").hide();
                $(".toHide").hide();
                $("body").addClass("NoPad");
                $("#insomniaContainerDiv").addClass("NoMar");
            }
            RefreshInsomnia();
        }
    </script>
}
<div class="row toHide">
    <div class="contentBox form-horizontal col-md-6 col-md-offset-3" style="font-size: 140%; margin-top: 50px;">
        <div class="col-xs-12">
            @Html.Raw(Model.LanPartyContent)
            <br />
        </div>
    </div>
</div>

<link href="~/Content/LanParty.css" rel="stylesheet" type="text/css" />
